certifi==2018.1.18
chardet==3.0.4
Django==1.11.10
django-crispy-forms==1.7.0
django-markdown==0.8.4
django-rest-auth==0.9.3
django-taggit==0.22.2
django-taggit-labels==0.5.1
django-taggit-serializer==0.1.5
djangorestframework==3.7.7
idna==2.6
Markdown==2.6.11
oauthlib==2.0.6
Pillow==8.1.1
pkg-resources==0.0.0
python-openid==2.2.5
pytz==2018.3
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
urllib3==1.22
