/* ==================================== base.html styles ======================================== */
.add-margin-top {
    margin-top:5%;
}

body{
    background-color: rgb(242, 243, 244);
}

/* ===================================== Homepage styles ======================================== */
.navbar-default {
    font-size: 17px;
    margin: 0;
    padding: 7px;
    /*opacity: 0.5;*/
}

nav .navbar-brand {
    font-size: 20px;
}

/*change default hover on links*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover {
    color: #2E3134;
}

/*change default active links*/
.navbar-default .navbar-nav> .active > a,
.navbar-default .navbar-nav> .active > a:focus,
.navbar-default .navbar-nav> .active > a:hover {

}

.section-heading {
    color: #2E3134;
}

.hr-line {
    max-width:50px;
    border-top: 2px solid #2E3134;
}


/* ===================================== Profile styles ======================================== */
.cards {
    border-radius: 0px;
    box-shadow: 2px 2px 2px lightgray;
    border-style: none;
    border: 0;
    color: #2E3134;
    background-color: white;
}

.no_borders{
    border-radius: 0px;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
/*
@media only screen and (min-device-width: 480px) {
     define mobile specific styles come here
    #mobile_view{
        margin-left: 0;
    }
}*/
