{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    {% load crispy_forms_tags %}
        <div class="col-md-6 col-md-offset-3 cards" style="margin-top: 2%; margin-bottom: 2%;border-radius: 8px">
            <legend>
                <h1>Edit Profile</h1>
            </legend>
            <form method="POST" action="" style="margin-top:3%">{% csrf_token %}
                {{ form | crispy }}
                <input class="btn btn-primary no_borders" style="align-self: center;" type="submit" value="Update Profile" />
            </form>
            <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="{% url 'resend_activation_code' %}" class="pull-right">Re-send Activation Code</a>
            </div> -->
            <br>
        </div>
{% endblock %}
