{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    {% load crispy_forms_tags %}
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-md-offset-2 cards" style="margin-top: 2%; margin-bottom: 2%;">
            <legend>
                <h1>Question Details</h1>
            </legend>
            <h2>{{ question.question }}</h2>
            <h5 style="color: gray">{{ question.created }}</h5>
            <h4 style="border: 1px solid lightgray; padding: 10px;">{{ question.description }}</h4>
            <br>
            <div style="border-radius: 20px; margin-bottom: 2%">
                <a href="">
                    <span class="glyphicon glyphicon-circle-arrow-up" style="font-size: 20px; color: green;"> {{ question.upvotes }}</span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-circle-arrow-down" style="font-size: 20px; margin-left: 2%; color: red;"> {{ question.downvotes }}</span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-comment" style="font-size: 20px; margin-left: 2%;"></span>
                </a>
                <span class="pull-right">Posted By: <a href="{% url 'profile_view' slug=user.slug %}">{{ question.user }}</a></span>
            </div>
            <div id="comments" class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="margin-left: 5%; background-color: #f5f5f5; padding: 10px; margin-bottom: 2%">
            {% if question.comments %}
                {% for comment in question.comments %}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    {{ comment.user }}
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-bottom: 1%">
                    {{comment}}
                </div>
                <br>
                {% endfor %}
            {% endif %}
                <hr style="border-width: 2px; color: black;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <input type="text" name="text" class="form-control" placeholder="Comment..">
                        <input type="hidden" name="question" value="{{question.id}}" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <input type="submit" name="question" class="btn btn-primary no_borders" value="Comment">
                    </div>
                </div>
            </div>
                
            <hr>
            <div style="margin-top: 2%; margin-bottom: 2%;">
                <legend>
                    <h1>Answers</h1>
                </legend>
                {% if answers %}
                {% for answer in answers %}
            <h5 style="color: gray">{{ answer.created }}</h5>
            <h4 style="border: 1px solid lightgray; padding: 10px;">{{ answer.answer_text }}</h4>
            <br>
            <div style="border-radius: 20px; margin-bottom: 2%">
                <a href="">
                    <span class="glyphicon glyphicon-circle-arrow-up" style="font-size: 20px; color: green;"> {{ answer.upvotes }}</span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-circle-arrow-down" style="font-size: 20px; margin-left: 2%; color: red;"> {{ answer.downvotes }}</span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-comment" style="font-size: 20px; margin-left: 2%;"></span>
                </a>
                <span class="pull-right">Posted By: <a href="{% url 'profile_view' slug=answer.profile %}">{{ answer.user }}</a></span>
            </div>
            {% if answer.comments %}
                <div id="comments" class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="margin-left: 5%; background-color: #f5f5f5; padding: 10px; margin-bottom: 2%">
                {% for comment in answer.comments %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <a href="{% url 'profile_view' slug=question.profile %}">{{ comment.user }}</a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-bottom: 1%">
                        {{comment}}
                    </div>
                    <br>
                {% endfor %}
                </div>
            {% endif %}
                <hr style="border-width: 2px; color: black;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                    <form action="post">
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                            <input type="text" name="text" class="form-control" placeholder="Comment..">
                            <input type="hidden" name="answer" value="{{answer.id}}" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            <input type="submit" name="answer" class="btn btn-primary no_borders" value="Comment">
                        </div>
                    </form>
                  {% endfor %}
                {% else %}
                    <legend>
                        Be the first one to write answer to this question.
                    </legend>
                        <form method="POST" action="" ="">
                        {% csrf_token %}
                        {{ ans_form | crispy }}
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pull-right">
                            <input type="submit" name="answer" class="btn btn-primary no_borders" value="Submit">
                        </div>
                        <br>
                        </form>
                      
                    <hr style="border-width: 2px; color: black;">
                {% endif %}
                </div>
            </div>
            </div>
        </div>
              
{% endblock %}
